# Files to be ignored by git

CMakeFiles
CMakeCache*
sdk/bin/debug/*
sdk/bin/release/*
sdk/lib/debug/*
sdk/lib/release/*
samples/bin/debug/*
samples/bin/release/*
tests/bin/*
build-debug
build-release
sdk/3rdparty
*.user
Makefile
*.*~
